<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="selenium">
<!--    <test name="mixed">-->
<!--        <parameter name="browser" value="chrome" />-->
<!--        <classes>-->
<!--            <class name="com.academy.dev.automationpractice.MyAddressTest" />-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="successLogin">-->
<!--        <parameter name="browser" value="firefox" />-->
<!--        <classes>-->
<!--            <class name="com.academy.dev.automationpractice.SuccessfulAuth" />-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="unsuccessLogin">-->
<!--        <parameter name="browser" value="firefox" />-->
<!--        <classes>-->
<!--            <class name="com.academy.dev.automationpractice.UnsuccessfulAuth" />-->
<!--        </classes>-->
<!--    </test>-->
    <test name="mobileTest">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="com.academy.selenide.MobileTests" />
        </classes>
    </test>

    <test name="restTest">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="com.academy.rest.RestApiTests" />
        </classes>
    </test>

</suite>
